<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" >
      <img src="/usps.png">
    </a>
    <h1>Postal Rate Calculator</h1>
    <p>This is a sample Node application that uses express and ejs to determine and display the postage required for a single piece of retail first-class mail.</p>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 align-self-center" style="margin: auto; float: none;">
            <h1>The weight that you selected in not avilable for the selected package type. Please try another weight.</h1>
            <a href="/">Calculate Another Rate</a>
        </div>
    </div>
   <!-- row -->
</div>

</body>
</html>