<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" >
      <img src="/usps.png">
    </a>
    <h1>Postal Rate Calculator</h1>
    <p>This is a sample Node application that uses express and ejs to determine and display the postage required for a single piece of retail first-class mail.</p>
    
    </div>
</div>
<div class="container">
  <div class="row justify-content-center">
  <div class="col-md-6 align-self-center" style="margin: auto; float: none;">
  <form id="form" method="post" action="/getRate">
    <div class="form-group">
      <label for="weight">Postage Weight(oz.)</label>
      <input class="form-control" type="number" id="weight" name="weight" step="0.1" min="0">
      <label for="type">Postage Type</label>
      <select  class="form-control" id="type" name="type">
        <option value="letter(stamped)">Letter (Stamped)</option>
        <option value="letter(metered)">Letter (Metered)</option>
        <option value="flat">Large Envelope (Flat)</option>
        <option value="package">First-Class Package Service -- Retail</option>
      </select>
      <input type="submit" class="btn btn-primary form-control" style="margin-top: 16px;">
  </div>
  </form>
  <p>By clicking the buttons below, you can choose whether the form uses a get request or a post request.</p>
<button id="makePost" class="btn btn-success" onclick="makePost()">Post</button>
<button id="makeGet" class="btn btn-secondary" onclick="makeGet()">Get</button>
</div>

</div>

 
</div>

</body>
</html>
